#sidenavButton{
    margin-right: 20px;
}

#header{
  position: fixed;
  background-color: #fff;
  z-index:10!important;
  border-bottom: 3px solid #0097a7ce;
}

#logo{
  color:#0097a7ce;
  font-size: x-large;
}

#loginBtn{
  background-color: #15545bff;
  color: white;
}

