<div id="background">
<mat-toolbar id="header">
  <span id="logo" >CoronArchive</span>
</mat-toolbar>
  <mat-card class="login-container mat-elevation-z4">
  <mat-card-header>
    <mat-card-title >Welcome to CoronaArchive</mat-card-title>
  </mat-card-header>
  <form #postForm="ngForm" (submit)="onLogin(postForm)" ngNativeValidate>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput #username ngModel name="username" type="text" placeholder="Username" required>
        <mat-error *ngIf="username.invalid">Enter a username</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput #password ngModel name="password" type="password" placeholder="Password" required>
        <mat-error *ngIf="password.invalid">Enter a password</mat-error>
      </mat-form-field >
    </mat-card-content>
    <mat-card-actions>
        <button id="login-btn" mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </form>
  <div align="center">
    <img src="../../../assets/favicon.ico" height="100px" width="100px">
  </div>
</mat-card>
</div>
