<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>New Test Kit</mat-card-title>
  </mat-card-header>
  <form #postForm="ngForm" (submit)="recordNewTestKit(postForm)" id="newTestkit" ngNativeValidate>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Kit Name</mat-label>
        <input matInput ngModel #kitName="ngModel" type="text" name="kitname" placeholder="Kit Name" required>
        <mat-error *ngIf="kitName.invalid">Please enter a name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Stock</mat-label>
        <input matInput ngModel #stock="ngModel" type="number" min="1" name="stock" placeholder="Stock" required>
        <mat-error *ngIf="stock.invalid">Please a number with at least 1</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button	color="primary" type="submit">Add New Test Kit</button>
    </mat-card-actions>
  </form>
</mat-card>

<mat-divider class="content-divider"></mat-divider>
<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Test Kit List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="this.dataSource.filteredData.length == 0" style="text-align: center;">There is no test kit added yet!</p>
    <table mat-table matSort [dataSource]="dataSource" id="testerTable" *ngIf="this.dataSource.filteredData.length > 0">
      <!-- Kit ID Column -->
      <ng-container matColumnDef="kitId">
        <th mat-header-cell *matHeaderCellDef> Kit ID </th>
        <td mat-cell *matCellDef="let testkit"> {{testkit.kitId}} </td>
      </ng-container>

      <!-- Kit Name Column -->
      <ng-container matColumnDef="kitName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kit Name </th>
        <td mat-cell *matCellDef="let testkit"> {{testkit.kitName}} </td>
      </ng-container>

      <!--Stock column-->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
        <td [id]="testkit.kitId" mat-cell *matCellDef="let testkit" style="padding-top: 1.34375em!important">
          <mat-form-field appearance="outline">
             <input matInput type="number" min="1" placeholder="Stock" [value]="testkit.stock" required>
          </mat-form-field>
        </td>
      </ng-container>

      <!--Action column-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let testkit" style="padding-top: 1.34375em!important">
          <button mat-raised-button	color="warn" type="submit" (click)="updateTestKit(this.testkit)">Save Changes</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnName"></tr>
      <tr mat-row *matRowDef="let row; columns: columnName;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>

