.sidenav-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 91%;
}

mat-sidenav{
  width: 250px;
  padding: 0;
}

mat-sidenav img{
    width: 100%;
    height: auto;
}

mat-sidenav button{
  width: 100%;
  padding: 15px 0;
  color: black;
  font-weight: bold;
  border: 0;
}
