<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="isOpened">
    <div id="profileInfo">
      <h1>Karl Choo</h1>
      <h3>Manager</h3>
      <a>Edit Profile</a>
    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button>Result</button>
    <button mat-raised-button>Centres</button>
    <button mat-raised-button>New Test</button>
    <button mat-raised-button>Update Test</button>
    <button mat-raised-button>Report</button>
    <button mat-raised-button>Dashboard</button>
    <button mat-raised-button>Register Tester</button>
    <button mat-raised-button>Register Centre</button>
    <button mat-raised-button>Logout</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavEvent)="toggleSidenav()"></app-header>
    <div class="content-container">
      <app-record-test-center-officer></app-record-test-center-officer>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
