<app-login *ngIf="!token"></app-login>
<div *ngIf="token">
<app-header (sidenavEvent)="toggleSidenav()" (logoutEvent)="logout()"></app-header>
<mat-sidenav-container class="app-container" >
  <mat-sidenav #sidenav id="sidenav" mode="side" [opened]="isOpened">
    <div id="profileInfo">
      <h1>Karl Choo</h1>
      <h3>Manager</h3>
    </div>
    <mat-divider></mat-divider>

    <!--Admin-->
    <button mat-raised-button routerLinkActive="active" routerLink="/centresPage" >Centres</button>

    <!-- Manager menu-->
    <span *ngIf="user.position === ''">
      <button mat-raised-button routerLinkActive="active" routerLink="/centresPage" >Centres</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/register" >Register Centre</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/tester" >Register Tester</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/testkit" >Test Kits</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/report" >Report</button>
    </span>
    <!--Tester menu-->
    <button mat-raised-button routerLinkActive="active" routerLink="/resultPage">Result</button>
    <button mat-raised-button routerLinkActive="active" routerLink="/newTest" >Manage Test and Results</button>
    <button mat-raised-button routerLinkActive="active" routerLink="/report" >Report</button>

    <!--Patient menu-->
    <button mat-raised-button routerLinkActive="active" routerLink="/resultPage">Result</button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
