mat-tab-group{
  width: 100%;
  margin-bottom: 5%;
}

mat-card{
  width: 95%;
  opacity: 0.9;
}

form mat-form-field{
  width: 100%;
}

#updateTestTable{
  width: 100%;
}

th{
  color: #0097a7ce;
  font-size: medium;
}

